{
  "base_url": "base url for OctoPrint",
  "game": "",
  "game_state": "PLAYING",
  "game_url": "null",
  "prefix": "-",
  "repo": "https://github.com/monsterzack5/OctoBot",
  "unknown_command_message": "false",
  "bot_owner": "bot owner id here"
}